{% extends 'store/base.html' %}

{%block title%} {{item.name}}Registro | {%endblock%}

{%block content%}
<div class="row p-4 d-flex justify-content-center aling-items-center ">
    <div class="shadow col-6 bg-#fff p-4 rounded-3">
        <h4 class="mb-6 text-center">Registro</h4>
        <hr>
        <form action="." method="POST">
            {% csrf_token %}
            <div class=" mb-3">
                <label class="form-label">Username:</label>
                {{form.username}}
            </div>
            <div class=" mb-3">
                <label class="form-label">Email:</label>
                {{form.email}}
            </div>
            <div class=" mb-3">
                <label class="form-label">Password:</label>
                {{form.password1}}
            </div>
            <div class=" mb-3">
                <label class="form-label">Repite Password:</label>
                {{form.password2}}
            </div>

            {% if form.errors or forms.non_field_errors %}
                <div class="mb-4 p-6 bg-danger rounded">
                    {% for field in form%}
                        <h5 class="text-white">
                            fields.errors
                        </h5>
                    {% endfor %}
                    {{ form.non_field_errors }}
                </div>
                
            {% endif %}

            <div class="d-flex justify-content-center aling-items-center">
                <button class="btn btn-primary mb-6">Registro</button>
            </div>
            <div class="d-flex justify-content-center aling-items-center">
                <a href="{% url 'login' %}">¿Ya tienes una cuenta? Accesa aqui</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}